{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-4 mb-5 border rounded text-center">AVENUE DES PRODUITS DE HAUTE QUALITE</h1>
        
    {% include "layouts/partials/_grid.html.twig" %}

    <div class="mt-5 started">
        <p class="getting-started text-center">
            Sans détour consultez nos différentes catégories de produits
        </p>
        <p class="m-3 pb-3">
            <a href="{{ path('products') }}" class="btn btn-primary btn-block getting-started"><strong>Commencez ici</strong></a>
        </p>
    </div>
{% endblock %}
