<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}
            {% include "layouts/partials/_stylesheet.html.twig" %}
        {% endblock %}
    </head>
    <body>
        {% include "layouts/partials/_nav.html.twig" %}

        <header id="home-section">
            <div class="dark-overlay">
                <div class="home-inner">
                    <div class="container">
                        <div class="row justify-content-center custom-line">
                            <div class="col col-lg-10">
                                <div class="row">
                                    {% include "layouts/partials/_header.html.twig" %}
                                    <div class="col-md-9">
                                        {% include "layouts/partials/_flash_message.html.twig" %}
                                        {% block body %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

            <!-- MAIN FOOTER -->
        {% include "layouts/partials/_footer.html.twig" %}

        {% block javascripts %}
            {% include "layouts/partials/_javascript.html.twig" %}
        {% endblock %}
    </body>
</html>
